:root {

  /* Tema propio */

  --app-principal: #3880ff;
  --app-secundario: #5260ff;

  --app-fondo: #ffffff;
  --app-texto: #000000;

  /* Ionic */

  --ion-color-primary: #3880ff;
  --ion-color-secondary: #5260ff;

  --ion-background-color: #ffffff;
  --ion-text-color: #000000;

  /* Cards */

  --ion-card-background: #ffffff;

  /* Items */

  --ion-item-background: #ffffff;

  /* Toolbars */

  --ion-toolbar-background: #ffffff;
  --ion-toolbar-color: #000000;

  /* Tipografía */

  --app-font-family: 'Arial';
  --app-font-size: 16px;

}