@use 'src/theme/variables.scss' as *;

/* ========================
   Header / Toolbar
   ======================== */
.app-toolbar {
  --background: var(--app-fondo-secundario);
  --border-color: var(--app-principal);
  --color: var(--app-texto-contraste);
  min-height: 56px; /* estándar Android */
}

/* ========================
   Botonera del header
   ======================== */
ion-buttons {
  display: flex;
  margin-right: 2rem;
  align-items: center;

  ion-button {
    border-radius: 100rem;
    --border-radius: 100rem;
  }

  ion-icon {
    font-size: 2rem;
    color: var(--app-texto);
  }
}