@use 'src/theme/variables.scss' as *;

/* =========================
   CARD
========================= */

ion-card {

  /* 🔶 Fondo destacado del tema */
  --background: var(--app-fondo-secundario);

  /* 🔶 Texto del tema */
  color: var(--app-texto-contraste);

  border-radius: 12px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  transition: transform 0.2s ease-in-out;

  font-weight: bold;
}

ion-card ion-card-title {

  /* 🔶 Texto destacado */
  color: var(--app-texto);

  font-size: 2rem;
  font-weight: 800;
}

ion-card:hover {
  transform: scale(1.03);
  cursor: pointer;
}

/* =========================
   BOTÓN
========================= */

ion-button {

  margin-top: 1rem;

  font-weight: bold;

  /* 🔶 Acción secundaria del tema */
  --background: var(--app-secundario);

  /* 🔶 Contraste del texto */
  --color: var(--app-texto-contraste);

  border-radius: 0.6rem;

  transition: transform 0.18s ease, filter 0.18s ease;
}

ion-card-content{
  color: var(--app-texto-contraste);
  text-align: center;
}