@use 'src/theme/variables.scss' as *;

.flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  .texto{
    background-color: #F7E7B6;
    border-radius: 0.5rem;
  }
}

.texto-claro-invertido{
    background-color: $givry;
    color: $bordo;
    --background: $givry;
    --color : $bordo;
    border-radius: 0.5rem;
    --border-radius: 0.5rem;
    width: fit-content;

}
:host {
  // Variables para personalizar
  --fav-button-size: 3rem;
  --fav-button-bg: $givry; // Color de fondo
  --fav-icon-color: $bordo; // Color del ícono por defecto
  --fav-button-z: 1000; // para flotante sobre contenido
}

// Botón flotante
.fav-button.flotante {
  position: absolute;
  margin-top: 4rem; // ubicación vertical
  margin-right: 1rem;  // ubicación horizontal
  width: var(--fav-button-size);
  height: var(--fav-button-size);
  border-radius: 50%;
  background-color: var(--fav-button-bg);
  color: var(--fav-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--fav-button-z);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

// Botón de cerrar modal
.fav-button.cerrar-modal {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: $givry; // tu color de fondo
  color: $bordo; // bordó para la X
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--fav-button-z + 1);
  font-size: 1.2rem;
}
