/* =========================
         CONTENEDOR
========================= */

.container2
{
  display: flex;
  flex-direction: column;

  align-items: center;
  align-content: start;

  height: 100%;
}

/* =========================
         DATETIME
========================= */

ion-datetime
{
  /* Fondo secundario para destacar el selector */
  --background: var(--app-fondo-secundario);

  /* Texto principal */
  color: var(--app-texto);

  border-radius: 16px;
}

/* =========================
       TEXTO AUXILIAR
========================= */

.texto-negro
{
  color: var(--app-texto-contraste);
}

/* =========================
    CONTROLES DATETIME
========================= */

ion-datetime::part(month-year-button)
{
  color: var(--app-texto);
}

ion-datetime::part(previous-button)
{
  color: var(--app-texto);
}

ion-datetime::part(next-button)
{
  color: var(--app-texto);
}