<ion-content>
  @if (this.mostrarAccesoRapido())
  {
    <div
    class="super-container">
      <img
      class="icon-btn"
      src="assets/viking-helmet.png"
      (click)="autocompletar('nimahucy@forexnews.bg', '111111')"
      >

      <img
      class="icon-btn"
      src="assets/police-badge.png"
      (click)="autocompletar('luragono@fxzig.com', '222222')">

      <img
      class="icon-btn"
      src="assets/bookmarklet.png"
      (click)="autocompletar('dodada3333@mirarmax.com', '444444')">

      <img
      class="icon-btn"
      src="assets/hot-meal.png"
      (click)="autocompletar('pojiye3739@ncien.com', '555555')">

      <img
      class="icon-btn"
      src="assets/fish-smoking.png"
      (click)="autocompletar('cevete4518@ncien.com', '666666')">

      <img
      class="icon-btn"
      src="assets/beer-stein.png"
      (click)="autocompletar('caxati7666@mirarmax.com', '777777')">

      <img
      class="icon-btn"
      src="assets/id-card.png"
      (click)="autocompletar('liqelypy@cyclelove.cc', '666666')">

      <img
      class="icon-btn"
      src="assets/drakkar.png"
      (click)="autocompletar('31415loto@email.com', '888888')">
      
    </div>
  }
  <ion-grid>
    <ion-row
      class="ion-justify-content-center ion-align-items-center"
      style="height: 100vh"
    >
      <ion-col size="12" sizeMd="6" sizeLg="3" class="ion-padding">
        <div class="logo-container">
          <img
            src="assets/mjor-splash.png"
            class="logo-img"
          />
        </div>

        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center "
              >Iniciar Sesión</ion-card-title
            >
          </ion-card-header>

          <ion-card-content>
            <form
              [formGroup]="formulario"
              class="auth-form"
              (ngSubmit)="login()"
            >
              <app-input-mjor
                control="email"
                placeholder="Correo"
                [form]="formulario"
                mensajeValidacion="Debe poseer la estructura 'texto@texto.texto'"      
              ></app-input-mjor>

              <app-input-mjor
                control="contrasenia"
                tipo="password"
                placeholder="Contraseña"
                nombreControl="Contraseña"
                [form]="formulario"
                mensajeValidacion="Debe poseer al menos 3 caracteres"      
              ></app-input-mjor>

              <ion-button expand="block" size="small" type="submit" color="secondary">Entrar</ion-button>

              <!-- <button (click)="loginOAuth()"  type="button"  class="button google">
                <svg class="icon" viewBox="0 0 24 24">
                  <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"></path>
              </svg>
              </button>
              <div class="ion-text-center fondo-givry" style="border-radius: 1rem; opacity: 0.9;">
                <ion-text style="border-radius: 0.2rem;" class=" ion-text-center">Sólo usuarios ya registrados pueden ingresar por github.</ion-text>
              </div> -->

            </form>

            <div id="acceso-rapido" class="ion-align-items-center">
              <ion-button fill="outline" size="long" expand="block" color="success" matButton (click)="this.cambiarVisibilidadDelAccesoRapido()">
                Acceso rápido
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>