<ion-content>
  <ion-grid class="ion-text-center" style="height: 100vh; background-color: #7A0F0F">
    
    <!-- Nombre arriba -->
    <ion-row style="height: 20%" class="ion-align-items-end">
      <ion-col>
        <h1 class="nombre">Lucas Sigüenza ─ Nicolás Dzisko</h1>
        <h2 class="nombre"> MjorApp</h2>
      </ion-col>
    </ion-row>

    <!-- Imagen al centro -->
    <ion-row style="height: 60%" class="ion-align-items-center">
      <ion-col>
        <img src="assets/mjor-splash.png" class="rotate-hor-center" style="max-width: 300px;" />
      </ion-col>
    </ion-row>

    <!-- División abajo -->
    <ion-row style="height: 20%" class="ion-align-items-start">
      <ion-col>
        <h2 class="division tracking-in-expand">División 341</h2>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
